.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input {
  width: 100%;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.myUsersList {
  margin: 15px 0;
}

.myUsersList > li {
  background-color: antiquewhite;
  padding: 5px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

.total {
  text-align: center;
  margin-right: 5px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.btn > button {
  padding: 5px;
  width: 60px;
}